
<h1>All Inventories</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Code</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        <% @inventories.each do |inventory| %>
            <tr>
                <td><%= inventory.inventory_date %></td>
                <td class="first_column" ><%= link_to inventory.code, inventory %></td>
                <td><%= inventory.product.name %></td>
                <td><%= number_to_currency inventory.price %></td>
                <td><%= inventory.quantity %></td>
            </tr>
        <% end %>
    </tbody>
</table>