<!DOCTYPE html>
<html>
  <head>
    <title>Inventory System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= cloudinary_js_config %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !@current_user.nil? %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Log out #{@current_user.email}", login_path, :method => 'delete', :class => 'nav-link' %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInventoriesMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Receiving
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="<%=inventories_path%>">All Receiving</a> 
              <a class="dropdown-item" href="<%=new_inventory_path%>">New Receiving</a>
            </div>
          </li>
          <% if @current_user.admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategoriesMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="<%=categories_path%>">All Categories</a> 
              <a class="dropdown-item" href="<%=new_category_path%>">New Category</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProductsMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="<%=products_path%>">All Products</a> 
              <a class="dropdown-item" href="<%=new_product_path%>">New Product</a>
            </div>
          </li>
          <% end %>
          <% if @current_user.admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsersMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Users
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="<%=users_path%>">All Users</a> 
              <a class="dropdown-item" href="<%=new_user_path%>">New User</a>
            </div>
          </li>
          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= edit_user_path(@current_user) %>">User</a>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
